.custom-form {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.custom-pagination {
    position: relative;
    top: 90%;
    left: 50%;
    transform: translate(-10%, -50%);
}
